# Environment variables
.env

# Credentials
Credenziali/
*.json
*.p12
*.key

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Logs
logs/
*.log

# Databases
*.db

# Scripts
Scripts/

# TODO
TODO